@font-face {
    font-family: Raleway;
    src: url("Raleway-VariableFont_wght.ttf"), url("Raleway-Italic-VariableFont_wght.ttf");
}

* {
    font-family: Raleway;
    --main-color: #0065fc;
    --secondary-color: #deebff;
    --background-color: #f2f2f2;
    box-sizing: border-box;
}

.flex_around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.show {
    border: 2px black solid;
}

body {
    margin: auto;
    width: auto;
    max-width: 1300px;
}

header {
    height: 130px;
}

#logo {
    justify-content: left;
    flex-grow: 3;
    height: 100%;
}

nav {
    flex-grow: 2;
    width: 300px;
    height: 100%;
}

.choix {
    width: 49%;
    height: 100%;
    text-decoration: None;
    color: black;
}

.choix:hover {
    border-top: 2px var(--main-color) solid;
    color: var(--main-color);
    font-weight: bold;
}

.navlink {
    height: 100%;
    width: 100%;
}

#accroche {
    margin: 10px 0px;
}

#recherche {
    justify-content: left;
    display: inline-flex;
    border: 0px;
    border-radius: 15px;
    overflow: hidden;
    margin-left: 0px;
}

#icon {
    width: 50px;
    height: 50px;
    background-color: var(--background-color);
}

#searchbar {
    border: 1px var(--background-color) solid;
    width: 250px;
}

::placeholder {
    color: black;
    font-weight: bolder;
    padding-left: 10px;
}

#searchbutton {
    background-color: var(--main-color);
    color: white;
    padding: 5px 20px;
    border: none;
}

#liste_filtre {
    font-weight: bolder;
    justify-content: left;
    flex-wrap: wrap;
    margin: 20px 0px;
    gap: 30px;
}

.filtre {
    height: 50px;
    border: 2px var(--background-color) solid;
    border-left: none;
    border-radius: 25px;
    padding-right: 20px;
}

.filtre_image {
    height: 50px;
    width: 50px;
    background-color: var(--secondary-color);
    color: var(--main-color);
    border: 2px var(--secondary-color) solid;
    border-radius: 25px;
    overflow: hidden;
    margin-right: 15px;
}

#renseignement {
    justify-content: left;
}

#info {
    height: 30px;
    width: 30px;
    border: 2px var(--background-color) solid;
    border-radius: 20px;
    color: var(--main-color);
}

@media all and (max-width: 992px)
/* Écran de tablette */

{
    body {
        margin: auto;
        width: auto;
    }
    #logo {
        flex-grow: 2;
    }
    nav {
        font-size: 20px;
        flex-grow: 1;
        flex-direction: column;
    }
    .choix {
        height: 49%;
    }
    .choix:hover {
        border: none;
        border-right: 2px var(--main-color) solid;
        border-left: 2px var(--main-color) solid;
    }
}

@media all and (max-width: 768px)
/* Écran de téléphone */

{
    body {
        margin: auto;
        width: auto;
        max-width: 768px;
    }
    header {
        flex-direction: column;
        height: auto;
    }
    #menu {
        width: 100%;
    }
    nav {
        flex-direction: row;
        font-size: 35px;
    }
    .choix {
        width: 50%;
        border: none;
        border-bottom: 5px var(--background-color) solid;
    }
    .choix:hover {
        border: none;
        border-bottom: 5px var(--main-color) solid;
    }
}