@font-face {
    font-family: Raleway;
    src: url("Raleway-VariableFont_wght.ttf"), url("Raleway-Italic-VariableFont_wght.ttf");
}

* {
    font-family: Raleway;
    --main-color: #0065fc;
    --secondary-color: #deebff;
    --background-color: #f2f2f2;
    box-sizing: border-box;
}

.flex_around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.show {
    border: 2px black solid;
}

body {
    margin: auto;
    width: auto;
    max-width: 1300px;
}

figure {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

main > * {
    margin-bottom: 20px;
}

header {
    height: 130px;
}

#logo {
    justify-content: left;
    flex-grow: 3;
    height: 100%;
}

nav {
    flex-grow: 2;
    width: 300px;
    height: 100%;
}

.choix {
    width: 49%;
    height: 100%;
    text-decoration: None;
    color: black;
}

.choix:hover {
    border-top: 2px var(--main-color) solid;
    color: var(--main-color);
    font-weight: bold;
}

.navlink {
    height: 100%;
    width: 100%;
}

#accroche {
    margin: 10px 0px;
}

#recherche {
    justify-content: left;
    display: flex;
    border: 0px;
    border-radius: 15px;
    overflow: hidden;
    margin-left: 0px;
    width: 600px;
}

#icon {
    width: 50px;
    height: 50px;
    background-color: var(--background-color);
}

#searchbar {
    border: 1px var(--background-color) solid;
    flex-grow: 1;
    min-width: 250px;
}

::placeholder {
    color: black;
    font-weight: bolder;
    padding-left: 10px;
}

#searchbutton {
    background-color: var(--main-color);
    color: white;
    padding: 5px 20px;
    border: none;
}

#liste_filtre {
    font-weight: bolder;
    justify-content: left;
    flex-wrap: wrap;
    margin: 20px 0px;
    column-gap: 30px;
    row-gap: 10px;
}

.filtre {
    height: 50px;
    border: 2px var(--background-color) solid;
    border-left: none;
    border-radius: 25px;
    padding-right: 20px;
}

.filtre_image {
    height: 50px;
    width: 50px;
    background-color: var(--secondary-color);
    color: var(--main-color);
    border: 2px var(--secondary-color) solid;
    border-radius: 25px;
    overflow: hidden;
    margin-right: 15px;
}

#renseignement {
    justify-content: left;
}

#info {
    height: 30px;
    width: 30px;
    min-width: 30px;
    border: 2px var(--background-color) solid;
    border-radius: 20px;
    color: var(--main-color);
}

.background {
    background-color: var(--background-color);
    border-radius: 20px;
    overflow: hidden;
    height: 100%;
    padding: 20px;
}

#hebergements{
    justify-content: space-between;
    height: fit-content;
}

#hebergements article {
    width: 65%;

}

#liste_hebergement {
    justify-content: space-around;
    flex-wrap: wrap;
    gap : 20px;
    padding-bottom: 20px;
}

#hebergements aside {
    width: 33%;
}

.template_hebergement {
    height: 200px;
    width: 230px;
}

.template_hebergement figure {
    position: absolute;
    overflow: hidden;
    height: 195px;
    border: 5px white solid;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 2px 2px 5px black;
}

.template_hebergement figure img {
    width: 220px;
}

.data_hebergement {
    position: absolute;
    height: 40%;
    width: 230px;
    bottom: 0px;
    padding-left: 10px ;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: black;
}

.fa-star {
    color: var(--main-color);
}

.grey {
    color: var(--background-color);
}

@media all and (max-width: 992px)
/* Écran de tablette */

{
    body {
        margin: auto;
        width: auto;
    }

    header {
        padding-bottom: 20px;
    }

    #logo {
        flex-grow: 2;
    }

    nav {
        font-size: 20px;
        flex-grow: 1;
        flex-direction: column;
    }

    .choix {
        height: 49%;
    }

    .choix:hover {
        border: none;
        border-right: 2px var(--main-color) solid;
        border-left: 2px var(--main-color) solid;
    }

    #accroche {
        text-align: center;
        margin-bottom: 20px;
    }

    #recherche {
        border: 1px solid;
        width: 60%;
        margin: auto;
    }
    #hebergements {
        flex-direction: column;
    }

    #hebergements article {
        text-align: center;
        width: 100%;
    }

}

@media all and (max-width: 768px)
/* Écran de téléphone */

{
    body {
        margin: auto;
        width: auto;
        max-width: 768px;
    }
    header {
        flex-direction: column;
        height: auto;
    }
    #menu {
        width: 100%;
    }
    nav {
        flex-direction: row;
        font-size: 35px;
    }
    .choix {
        width: 50%;
        border: none;
        border-bottom: 5px var(--background-color) solid;
    }
    .choix:hover {
        border: none;
        border-bottom: 5px var(--main-color) solid;
    }

    main {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 25px;
    }
    #accroche {
        text-align: left;
    }

    #accroche strong{
        font-size: 30px;
    }

    #recherche {
        width: 80%;
    }

    #texte {
        width: 100%;
    }

    #info {
        margin-right: 15px;
    }

    #hebergements {
        flex-direction: column-reverse;
    }

    #hebergements article {
        background-color: white;
        text-align: left;
    }

    #liste_hebergement {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .template_hebergement {
        width: 90%;
        height: 350px;
    }

    .template_hebergement figure{
        width: 80%;
        height: inherit;
    }

    .template_hebergement figure img{
        position: relative;
        top: -15%;
        width: 100%;
    }

    .data_hebergement {
        width: 100%;
    }
}